{% extends 'base.html' %}

{% block title %}
    Index
{% endblock %}

{% block navbar %}

{% endblock %}

{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-5">
        <div class="card">
            <div class="card-header bg-primary text-center text-white">
                <h3 class="h5 mb-0">List of All Users</h3>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr class="text-center">
                                    <th scope="col">#</th>
                                    <th scope="col">Username</th>
                                    <th scope="col">Password</th>
                                    <th scope="col">Fullname</th>
                                    <th scope="col">Phone Number</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody class="table-group-divider">
                                {% for user in users %}
                                <tr class="text-center">
                                    <td>{{ loop.index }}</td>
                                    <td>{{ user[1] }}</td>
                                    <td>***</td>
                                    <td>{{ user[3] }}</td>
                                    <td>{{ user[4] }}</td>
                                    <td>
                                        <div class="d-flex">
                                            <a href="/edit/{{ user[0] }}" class="btn btn-warning me-2">
                                                Edit
                                            </a>
                                            <form action="/delete/{{ user[0] }}" method="post">
                                                <button type="submit" class="btn btn-danger">Delete</button>
                                            </form>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}