{% extends 'base.html' %}

{% block title %}
    Login
{% endblock %}

{% block content %}
<div class="container-md my-5">
    <div class="row justify-content-center">
        <div class="col-3">

            <h3 class="text-center mb-4">User Login</h3>

            <form action="/login" method="post">
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" name="username" class="form-control" id="username" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" name="password" class="form-control" id="password" required>
                </div>
                <div class="mb-3 d-grid gap-2">
                    <button type="submit" class="btn btn-primary btn-">Login</button>
                </div>
            </form>
        </div>
    </div>

    <!-- <div class="row justify-content-center mt-3">
        <div class="col-6 border rounded">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Username</th>
                            <th scope="col">Password</th>
                            <th scope="col">Fullname</th>
                            <th scope="col">Phone Number</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        {% for user in users %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ user[1] }}</td>
                            <td>{{ user[2] }}</td>
                            <td>{{ user[3] }}</td>
                            <td>{{ user[4] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div> -->

</div>
{% endblock %}